<div class='inline-block'>
  {{profile-link profile=attendee}}

  {{#unless displayContact}}
    {{#if isHost}}
      <div class="attendee-contact">
        <button {{action 'display_contact'}}>
          See contact infos
        </button>
      </div>
    {{/if}}
  {{/unless}}
</div>

{{#if displayContact}}
  <div class='attendee-info'>
    <i>{{attendee.contact.email}}</i>
    <i>{{attendee.contact.phone_number}}</i>
  </div>
{{/if}}
