<div class='well'>
  <div>{{comment.author.display_name}}</div>
  <div>{{comment.message}}</div>
  {{#if canDelete}}
    <button {{action 'delete_comment' comment}} class="btn btn-danger">
      Delete comment
    </button>
  {{/if}}
</div>
