<button {{action 'submit'}} class="btn btn-success" disabled={{isSaving}}>
  {{#if isSaving}}
    submitting ...
    <!-- <i class="fa fa-spinner fa-spin"></i> -->
  {{else if isSaved}}
    submited !!!
    <!-- <i class="fa fa-check"></i> -->
  {{else}}
    submit
  {{/if}}
</button>
