<div class='pending-submission'>
  {{#if hasPendingSubmissions}}
    <span class='some'>{{t 'submissions.count' count=pendingSubmissionsCount}}</span>
  {{else}}
    <span class='empty'>{{t 'submissions.empty'}}</span>
  {{/if}}
</div>
