{{#each subComments as |subComment|}}
  {{sub-comment-display comment=subComment isHost=isHost isModerator=isModerator}}
  <hr>
{{/each}}
<form>
  {{validated-input placeholder="placeholder.comment" value=message errors=errors.message}}

  <div class='align-right inline-block'>
    <div>
      {{dynamic-submit actionOnSubmit="comment"}}
    </div>
  </div>
</form>
