<label>{{label}}</label>
{{textarea rows=rows maxlength=maxlength value=value focus-out="showError" class="form-control" classBinding="showErrors" placeholder=placeholder}}
{{#if maxlength}}
  Characters left: {{characters_left}}
{{/if}}
{{#if showErrors}}
  {{displayErrors}}
{{/if}}
