{{#if label}}
  <label>{{t label}}</label>
{{/if}}
{{textarea rows=rows maxlength=maxlength value=value focus-out="showError" class="form-control" classBinding="showErrors" placeholder=translatedPlaceholder}}
{{#if maxlength}}
  <div class='align-right'>
    <i>{{characters_left}}</i>
  </div>
{{/if}}
{{#if showErrors}}
  {{displayErrors}}
{{/if}}
