{{#if label}}
  <label>{{t label}}</label>
{{/if}}
{{bootstrap-datepicker startDate="today" value=value format="dd/mm/yy" focus-out="showError" class="form-control" classBinding="showErrors" placeholder=translatedPlaceholder language=i18n.locale disabled=disabled}}
{{#if showErrors}}
  {{displayErrors}}
{{/if}}
