{{#if label}}
  <label>{{t label}}</label>
{{/if}}
{{input checked=value type="checkbox" focus-out="showError" class="form-control" classBinding="showErrors"}}
{{#if showErrors}}
  {{displayErrors}}
{{/if}}
