<label>{{label}}</label>
{{bootstrap-datepicker value=value format="dd/mm/yy" focus-out="showError" class="form-control" classBinding="showErrors" placeholder=placeholder}}
{{#if showErrors}}
  {{displayErrors}}
{{/if}}
