{{#if label}}
  <label>{{t label}}</label>
{{/if}}
{{input value=value type=type focus-out="showError" class="form-control" classBinding="showErrors" placeholder=translatedPlaceholder name=name}}
{{#if showErrors}}
  {{displayErrors}}
{{/if}}
