@import "bootstrap";
@import "algolia";

@import "variables";
@import "mixins";

@import "paginate";
@import "welcome";
@import "infos-bar";
@import "search";
@import "account";
@import "feedback-sent";
@import "event-not-found";
@import "footer";
@import "navbar";
@import "event";
@import "event-created";
@import "user-created";
@import "profile";

.logo-name {
  margin-top: -15px;
  height: 53px;
}

.capacity {
  display: flex;

  .auto-accept {
    margin: auto;
  }
}

#user-form,
#event-form {
  .tabs {
    padding: 0 1em 0 1em;
    text-align: center;
    font-size: 1em;
    font-weight: bold;

    .tab {
      border-radius: 4px;
      padding: 0.5em;
      cursor: pointer;

      .details {
        font-size: 0.825em;
        font-weight: normal;
      }
    }

    .tab.opened {
      color: white;
      background-color: $green;
    }
  }
}

.policy-link {
  @include unstyled-link();
}

.policy-infos {
  vertical-align: -webkit-baseline-middle;
}

.user-submit {
  float: right;
}

#comment {
  .utils {
    text-align: right;
  }

  .created-at {
    font-size: 1em;
    color: grey;
  }

  .display-sub-comments {
    margin-top: 0.5em;
    color: #337ab7;
    border: 1px solid #e3e3e3;
    padding: 0.25em;
    cursor: pointer;
  }

  .display-sub-comments:hover {
    background-color: #e3e3e3;
  }

  .sub-comments {
    margin-top: 1em;
    border: 1px solid #e3e3e3;
    padding: 1em;
  }
}

.fb-logo {
  width: 1.5em;
}

.fb-share {
  vertical-align: bottom;
}

.password-forgotten {
  margin-top: -1em;
  margin-bottom: 1em;
}

.error {
  color: $red;
}

.disabled {
  opacity: 0.5;
}

.see-time-slots {
  display: flex;
  align-items: center;

  .goto {
    @extend .btn-orange, .btn-sm;
    margin-left: auto;
  }
}

.add-recurrent-date {
  margin-top: 1em;
  display: flex;
  align-items: center;

  .recurrent-date {
    width: 80%;
  }

  .recurrent-date.form-group {
    margin-bottom: 0px;
  }

  .goto {
    @extend .btn-orange, .btn-sm;
    margin-left: auto;
  }
}


.set-private {
  display: flex;
  align-items: center;

  .goto {
    margin-left: auto;
  }
}

.warning {
  color: $orange;
}

.success {
  color: $green;
}

#verify {
  text-align: center;

  .success {
    color: $green;
  }

  .warning {
    color: $orange;
  }

  .goto {
    @extend .btn-green;
  }
}

.no-padding {
  padding: 0;
}

.inline {
  display: inline;
}

.show-errors {
  border-color: $red;
}

.ais-search-box--input {
  @extend .form-control;
}

.ais-refinement-list--label {
  font-weight: normal;
}

.success {
  color: $green;
  text-align: center;
}

.line-separator {
  margin-top: 1vh;
  margin-bottom: 1vh;
  height:1px;
  background:#717171;
  border-bottom:1px solid #313030;
}

#update-avatar {
  height: auto;
  left: 0;
  min-height: 100%;
  position: absolute;
  right: 0;
  top: 20%;
  z-index: 15;
}

.update-avatar-button {
  margin-top: 1vh;
  @extend .btn-xs, .btn-orange;
}

#shadow {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, .4);
}

#crop-avatar {
  height: 60vh;
  position: relative;
  z-index: 20;
}

.cropper {
  padding: 1vw;
}

.cropper-container {
  width: 90%;
  max-height: 40vh;
  margin-left: auto;
  margin-right: auto;
}

.crop-box {
  margin-top: 1vw;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.avatar-small {
  width: 30px;
  height: 30px;
}

.avatar-medium {
  padding: 0;
}

.show-profile-box {
  display: inline-block
}

.show-profile-box:hover .profile-box{
  display : block;
}

.profile-box {
  position: absolute;
  display: none;
  @extend .well;
  padding: 1vw;
  z-index: 12;
  width: 30vw;
  color: black;
}

.profile-avatar {
  border-radius: 15px;
  border:1px solid lightgrey;
  width: 100%;
  height: 100%;
}

.notifications_count {
  color: #777;
  padding-top: 15px;
  padding-bottom: 15px;
}

#notifications {
  width: 280px;
  position: absolute;
  z-index: 10;
  padding: 0px;
}

.notification {
  padding: 15px;
}

.notification.viewed {
  background-color: white;
}

.well.notification {
  margin-bottom: 0px;
}

.newNotifications {
  color: $orange;
}

.classWithPad {
  padding:10px;
}

.icon-ok {
  @extend .glyphicon, .glyphicon-ok;
  color: $green;
}

.icon-remove {
  @extend .glyphicon, .glyphicon-remove;
}

.icon-remove:hover {
  cursor: pointer;
  color: $red;
}

.icon-pencil {
  @extend .glyphicon, .glyphicon-pencil;
}

.icon-pencil:hover {
  cursor: pointer;
  color: $orange;
}

.icon-pencil:hover .alt,
.icon-remove:hover .alt{
  display : block;
  z-index: 5;
}

.alt {
  padding: .75em;
  position: absolute;
  display: none;
  color: black;
  background-color: white;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
}

.underline-hover:hover {
  text-decoration: underline;
}

.pending-submission,
.attendee {
  margin-top: 1vh;
}

.attendee-info {
  padding-bottom: 1vh;
}

.pending-submission > div {
  display: inline-block;
}

.accept-submission,
.attendee-contact {
  float: right;
}

.host-contact {
  text-align: center;
  margin-top: 5px;
}

.host-contact > button {
  @extend .btn, .btn-sm, .btn-info;
  background-color: #337ab7;
  border-color: #337ab7;
}

.accept-submission > button {
  vertical-align: -webkit-baseline-middle;
  @extend .btn-xs, .btn-green;
}

.attendee-contact > button {
  vertical-align: -webkit-baseline-middle;
  @extend .btn, .btn-xs, .btn-info;
  background-color: #337ab7;
  border-color: #337ab7;
}

.no-account-container {
  height: 245px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .no-account-container {
    border-left: 1px solid #b4b4b4;
  }
}

.recurrent-dates {
  display: flex;
}

.remove-recurrent-date {
  margin-left: auto;
  cursor: pointer;
  color: #337ab7;
  font-size: 0.75em;
  vertical-align: text-top;
}

.remove-recurrent-date:hover {
  text-decoration: underline;
}

.no-account {
  text-align: center;
}

.center-text {
  text-align: center;
}

.full-width {
  width: 100%;
}

.button-full-width > button {
  width: 100%;
}

.align-right {
  text-align: right;
}

.inline-block  > div {
  display: inline-block;
}

.birthday {
  margin-bottom: 0px;
}

.no-bold {
  font-weight: normal;
}

.margin-bottom {
  margin-bottom: 1em;
}
.margin-top {
  margin-top: 1em;
}

.event-title {
  font-style: bold;
  font-size: 25px;
}

#map-container {
  width: 100%;
}

#map {
  height: 0;
    padding-bottom: 100%;
}

.btn-submit {
  @extend .btn-green;
  width: 100px;
}

.account-list > li {
  cursor: pointer;
}

.glyphicon-refresh-animate {
  animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}
