.show-errors {
  border-color: red;
}

.ais-search-box--input {
  @extend .form-control;
}

.classWithPad {
  padding:10px;
}

.welcome-container {
  margin-left: -15px;
  margin-right: -15px;
  margin-top: -20px;
  height: 450px;
  background: url('/assets/images/background-1.jpg');
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-container > .welcome {
  color: white;
  text-align: center;
}

.no-account-container {
  height: 245px;
  border-left: 1px solid #b4b4b4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-account {
  text-align: center;
}
