@import "bootstrap";

.show-errors {
  border-color: red;
}

.ais-search-box--input {
  @extend .form-control;
}

.ais-refinement-list--label {
  font-weight: normal;
}

.success {
  color: green;
  text-align: center;
}

.line-separator {
  height:1px;
  background:#717171;
  border-bottom:1px solid #313030;
}

#update-avatar {
  height: auto;
  left: 0;
  min-height: 100%;
  position: absolute;
  right: 0;
  top: 30%;
  z-index: 15;
}

#shadow {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, .4);
}

#crop-avatar {
  position: relative;
  z-index: 20;
}

.avatar-small {
  width: 30px;
  height: 30px;
}

.avatar-medium {
  padding: 0;
}

.show-profile-box:hover .profile-box{
  display : block;
}

.profile-box {
  position: absolute;
  display: none;
  @extend .well;
  padding: 1vw;
  z-index: 12;
  width: 30vw;
}

.profile-avatar {
  border-radius: 15px;
  border:1px solid lightgrey;
  width: 100%;
  height: 100%;
}

.notifications_count {
  color: #777;
  padding-top: 15px;
  padding-bottom: 15px;
}

#notifications {
  width: 280px;
  position: absolute;
  z-index: 10;
  padding: 0px;
}

.notification {
  padding: 15px;
}

.notification.viewed {
  background-color: white;
}

.well.notification {
  margin-bottom: 0px;
}

.newNotifications {
  color: orange;
}

.classWithPad {
  padding:10px;
}

.icon-ok {
  @extend .glyphicon, .glyphicon-ok;
  color: green;
}

.welcome-container {
  margin-left: -15px;
  margin-right: -15px;
  margin-top: -20px;
  height: 450px;
  background: url('/assets/images/background-1.jpg');
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-container > .welcome {
  color: white;
  text-align: center;
}

.no-account-container {
  height: 245px;
  border-left: 1px solid #b4b4b4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-account {
  text-align: center;
}

.center-text {
  text-align: center;
}

.align-right {
  text-align: right;
}

.inline-block  > div {
  display: inline-block;
}

.capacity {
  font-weight: bold;
}

.birthday {
  margin-bottom: 0px;
}

.margin-bottom {
  margin-bottom: 20px;
}
.margin-top {
  margin-top: 20px;
}

.event-title {
  font-style: bold;
  font-size: 25px;
}

#map-container {
  width: 100%;
}

#map {
  height: 0;
    padding-bottom: 100%;
}

.btn-submit {
  @extend .btn, .btn-success;
  width: 100px;
}

.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}

#pagination {
  margin-top: 30px;
}
#pagination ul {
  font-size: 0;
  list-style-type: none;
  text-align: center;
}
#pagination li {
  font-size: 14px;
  display: inline;
}
#pagination a {
  padding: 8px 12px;
  text-decoration: none;
  color: #000;
  border: 1px solid #eee;
}
#pagination a:hover {
  background: #f5f5f5;
}
#pagination li:first-child a {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
#pagination li:last-child a {
  border-right: 1px solid #eee;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
#pagination li.ais-pagination--item__active a {
  color: white;
  border-color: #ed5565;
  background: #ed5565;
}
#pagination li.ais-pagination--item__active a:hover {
  cursor: default;
}
#pagination li.ais-pagination--item__disabled a {
  cursor: not-allowed;
}
#pagination li.ais-pagination--item__disabled a:hover {
  background: none;
}
