$footer-height: 5em;

main {
  min-height: 100vh;
  margin-bottom: -$footer-height;
}
main:after {
  content: "";
  display: block;
}
#footer, main:after {
  height: $footer-height;
}
#footer {
  display: flex;
  align-items: center;
  background-color: #5f5f5f;
  color: white;

  .content {
    text-align: center;
    margin: auto;

    .socials {
      margin-bottom: .5em;

      .social {
        margin-right: .5em;
        height: 2em
      }
    }
  }
}
