#infos-bar
  .confirmed,
  .ready
      color: #449d44

  .pending
    color: #f0ad4e

  .goto
    display: block
    text-align: center
    margin-top: 0.5em

  .goto-btn
    @extend .btn, .btn-xs, .btn-info
    background-color: #337ab7
    border-color: #337ab7

  .event
    @include unstyled-link()

    .begin_at
      font-style: italic

    > div
      padding-top: 3px
      padding-bottom: 3px

    &:hover
      > div
        color: #449d44
        font-weight: bold
        background-color: #e3e3e3;
