#infos-bar
  .confirmed,
  .ready
      color: $green

  .pending
    color: $orange

  .goto
    display: block
    text-align: center
    margin-top: 0.5em

  .goto-btn
    @extend .btn-xs, .btn-blue

  .event
    @include unstyled-link()

    .begin_at
      font-style: italic
      text-transform: lowercase

    > div
      padding-top: 3px
      padding-bottom: 3px

    &:hover
      > div
        color: $green
        font-weight: bold
        background-color: #e3e3e3;
