@mixin unstyled-link() {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}

.btn-green {
  @extend .btn, .btn-success;
  background-color: $green;
  border-color: $green;
}

.btn-orange {
  @extend .btn, .btn-warning;
  background-color: $orange;
  border-color: $orange;
}

.btn-red {
  @extend .btn, .btn-danger;
  background-color: $red;
  border-color: $red;
}

.btn-blue {
  @extend .btn, .btn-info;
  background-color: #337ab7;
  border-color: #337ab7;
}
