@mixin unstyled-link() {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}

.btn-green {
  @extend .btn, .btn-success;
  background-color: $green;
  border-color: $green;
}

.btn-orange {
  @extend .btn, .btn-warning;
  background-color: $orange;
  border-color: $orange;
}
