#search
  .facet
    .ais-refinement-list--label
      display: block
      position: relative

      input[type=radio], input[type=checkbox]
        position: relative
        top: 1px
        margin-right: 0.5em

    .ais-refinement-list--count
      position: absolute
      right: 0
      top: 1px
      opacity: 0.5

      &::before
        content: "("
      &::after
        content: ")"

#hits-list
  margin-top: 1em
  .hit
    a
      @extend .well
      @include unstyled-link()
      display: block
      transition: all ease .1s

    .head
      margin-bottom: 0.75em

    .body
      display: flex

      .infos
        display: flex
        flex-direction: column
        justify-content: space-between

    h3
      color: $green
      margin: 0

    @media (min-width: 769px)
      .event-details
        text-align: right

    .description
      font-style: italic
      margin-bottom: 0.5em

    .categories
      margin-bottom: 0.5em

      .icon-tags
        @extend .glyphicon, .glyphicon-tags
        margin: 0 0.3em
        font-size: 1.25em

    .host
      img
        width: 2em

      span
       display: inline-block

    &:hover
      a
        border-color: $green
        transform: scale(1.01)
        background-color: rgba($green, 0.2)

#pagination li.ais-pagination--item__active a
  border-color: $green
  background: $green
