<div id='event-not-found' class='well col-md-6 col-md-offset-3'>
  <div class='not-found'>{{t 'event.not-found'}}</div>
  <hr>
  <div class='search'>
    {{#link-to 'search' class='goto'}}{{t 'navigation.search'}}{{/link-to}}
  </div>
</div>
