<div id='feedback-sent' class='row'>
  <div class='well col-md-6 col-md-offset-3'>
    <div class='sent'>{{t 'feedback.sent'}}</div>
    <hr>
    <div class='index'>
      {{#link-to 'index' class='goto'}}{{t 'navigation.index'}}{{/link-to}}
    </div>
  </div>
</div>
