<div id='feedback-sent' class='well col-lg-6 col-lg-offset-3'>
  <div class='sent'>{{t feedback.sent}}</div>
  <hr>
  <div class='index'>
    {{#link-to 'index' class='goto'}}{{t 'index.button'}}{{/link-to}}
  </div>
</div>
