<footer id="footer">
  <div class='content'>
    <div class='socials'>
      <span>{{t 'footer.follow-us'}}</span>
      <a target="_blank" href="https://facebook.com/deckieFR"><img class='social' src='/assets/images/facebook.png'></a>
      <a target="_blank" href="https://twitter.com/deckieFR"><img class='social' src='/assets/images/twitter.png'></a>
    </div>
    <div>{{#link-to 'policy' class='policy-link'}}{{t 'policy.title'}}{{/link-to}} | {{t 'footer.contact'}}: contact@deckie.fr</div><
  </div>
</footer>
