<div class='background'>
  <div class='title'>
    <h1>Find people who love to play the same games as you do</h1>

    <!-- {{#link-to 'search' tagName='button' class='btn btn-success"'}}Find events{{/link-to}}
     -->
    {{#link-to 'search'}}<button class="btn btn-success btn-lg">Find events now</button>{{/link-to}}
  </div>

  <img src="assets/images/background-1.jpg">
</div>

<h3>{{#link-to 'search'}}Find events{{/link-to}}</h3>
