<div class='welcome-container'>
  <div class='welcome'>
    <h1>Find people who love to play the same games as you do</h1>

    {{#link-to 'search'}}<button class="btn btn-success btn-lg">Find events now</button>{{/link-to}}
  </div>
</div>
