<h2>Login</h2>

<form>
  {{validated-input label="Email" placeholder="Enter email" value=email errors=errors.email showAllErrors=showErrors}}
  {{validated-input label="Password" placeholder="Enter password" type="password" value=password errors=errors.password showAllErrors=showErrors}}

  {{dynamic-submit actionOnSubmit="authenticate"}}
</form>
