<div class='col-md-10 col-md-offset-1'>
  <div class='col-md-6'>
    <div class='well'>
      <h3>Already an account?</h3>
      {{login-form transition=true}}
    </div>
  </div>

  <div class='col-md-6'>
    <div class='well'>
      <h3>New user?</h3>
      {{user-form model=model transition=true}}
    </div>
  </div>
</div>
