<form>
  {{validated-input label="Token" placeholder="Enter token received on your phone" value=model.token serverErrors=model.errors.token errors=errors.model.token}}

  {{dynamic-submit actionOnSubmit="verify_phone_number"}}
</form>
