<div class='col-md-6 col-md-offset-3 well'>
  <form>
    {{validated-input label="toto" placeholder="toto" value=model.password serverErrors=model.errors.password errors=errors.model.password type="password"}}
    {{validated-input label="toto" placeholder="toto" value=model.password_confirmation serverErrors=model.errors.password_confirmation errors=errors.model.password_confirmation type="password"}}


    {{dynamic-submit actionOnSubmit="submit"}}
  </form>
</div>
